@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

$gray: rgb(145, 143, 143);
$base: #000000;
$white: #fff;

.mb-25 {
  margin-bottom: 25px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-6 {
  margin-bottom: 6px;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Poppins', sans-serif;
}